*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 22px;
    font-family: 'Nunito', sans-serif;
}

// outer div called nav 
.navbar{

    // border:2px solid red;
overflow: hidden;
}
// ul list div of nav bar 

.navbar-list li{

    // border:2px solid blueviolet;
    display: inline-block;
    list-style: none;
    background-color: black;

}
li .navsmall{
    text-decoration: none;
    display: block;
    width: 100vw;
    margin: 2px 10px;
    padding: 5px;
    text-transform: uppercase;
    color: white;
}
 

li:not(.navbig){

    border:2px solid goldenrod;
    display: none;

}

//************* google icon class ***********
.material-icons-outlined{
position: absolute;
display: inline-block;
// border:2px solid red;
top: 0;
right: 0;
color: white;
padding: 5px;
margin: 1px 0;
font-size: 130%;
height: 2.8rem;



}

//   ************ image k yper ka div **************
 .pics-anime{ display: inline-block;
    margin: 0;
    padding: 0;
    position: relative;
}

